:root {
    --HEADER_HEIGHT: 4rem;
}

.header {
    position: fixed;
    background-color: #311965;
    height: var(--HEADER_HEIGHT);
    top: 0;
    left: 0;
    right: 0;
}

.headerShadow {
    height: var(--HEADER_HEIGHT);
    top: 0;
    left: 0;
    right: 0;
}