.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2b2b30;
}

.greetingContainer {
    display: flex;
    background-color: #181818;
}

.greetingTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;

    padding: 2rem;
    color: white;
}

.backdrop1 {
    width: 45%;
}

.logoContainer {
    display: flex;
}

.logo {
    background-image: radial-gradient(circle at center, #6834d7 0, transparent 50%);
    height: 10rem;
    width: 10rem;
}