.root {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
}

.adContainer {
    width: 60%;
    height: 30rem;
    
    border: 1px solid red;
}

.progressContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.progressIndicator {
    flex: 20;
}

.progressLabel {
    flex: 1;
    text-align: center;
}